.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color:white;
  background: rgb(73, 79, 82);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

li:hover{
  color:red;
}

/* shopping item in shop page */

.item{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.item img{
  width: 50%;
  height: 50%;
}